torch==2.0.1
tqdm
acvl-utils>=0.2
dynamic-network-architectures>=0.2
dicom2nifti
batchgenerators>=0.25
yacs
requests
graphviz
numpy
scipy
pandas
scikit-learn
scikit-image>=0.19.3
SimpleITK>=2.2.1
medpy
opencv-python
tifffile
imagecodecs
matplotlib
seaborn
nibabel
monai==1.3.0
